<main class="login">
    <div class="login__tittle-container">
        {{> Tittle label="Messenger Praktikum"}}
    </div>
    <form class="login__form">
        {{> Input label="Login" name="login" }}
        {{> Input label="Password" name="password" }}
        {{> Button label="Sign in" }}
        {{> EntranceType label="Don't" type="Sign up" }}
    </form>
</main>