<main class="error">
    <h2 class="error__code">
        {{> ErrorCode label="500"}}
    </h2>
    <p class="error__message">Network connection problem...</p>
    <div class="error__back-to-chats">
        {{> BackToChats }}
    </div>
</main>