<nav>
  <ul>
    <li><a href="#" page="login">Login</a></li>
    <li><a href="#" page="registration">Registration</a></li>
    <li><a href="#" page="chats">Chats</a></li>
    <li><a href="#" page="settings">Settings</a></li>
    <li><a href="#" page="error400">Error400</a></li>
    <li><a href="#" page="error500">Error500</a></li>
  </ul>
</nav>