<div class="chatCard">
  <div class="chatCard__avatar-container"></div>
  <div class="chatCard__info-container">
    <p class="chatCard__info-name">{{name}}</p>
    <p class="chatCard__info-message">{{message}}</p>
  </div>
</div>