<div class="chatCard">
  <div class="chatCard__avatar-container"></div>
  <div class="chatCard__info-container">
    <p class="chatCard__info-name">Name</p>
    <p class="chatCard__info-message">Bjff fkjgfhgfhgdjfg kdfjgh</p>
  </div>
</div>