<main class="chats">
    <div class="chats__left-side">
        <div class="chats__left-side__search-container">
            {{> Input label="Search" name="search" type="search" }}
        </div>
        <div class="chats__left-side__list">
            {{> ListChats }}
        </div>
    </div>
    <div class="chats__right-side">
        <div class="chats__right-side__message-titile">
            <p class="chats__right-side__message-titile__name">Vadim</p>
        </div>
        <div class="chats__right-side__message-container"></div>
        <div class="chats__right-side__message-input">
            {{> Input label="Message" name="message" type="text" }}
        </div>
    </div>
</main>
