.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-text-color);
    height: 100vh;
}

.error__code {
    color: var(--main-color);
}

.error__back-to-chats {
    color: var(--main-color);

}