<main class="error">
    <h2 class="error__code">
        {{> ErrorCode label="400"}}
    </h2>
    <p class="error__message">Something went wrong...</p>
    <div class="error__back-to-chats">
        {{> BackToChats }}
    </div>
</main>
